<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show all files</title>
</head>

<body>
<div>
  <form method="POST" enctype="multipart/form-data" action="/api/file/upload">
    <table>
      <tr>
        <td>Upload a file:</td>
        <td><input type="file" name="file"/>
        <td><input type="submit" value="Upload!"/></td>
      <tr>

    </table>
  </form>
</div>
<a>All files : </a>
<table class="table table-striped table-responsive-md" border="1" style="width:500px">
  <thead>
  <tr>
    <th>Filename</th>
    <th>Link</th>
    <th>Owner</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="file : ${filesModels}">
    <td th:text="${file.filename}"></td>
    <td scope="row"><a th:href="${templatePath + file.id}" th:text="${templatePath + file.id}"></a></td>
    <td th:text="${file.user != null} ? ${file.user.username} : 'Anonymous'"></td>
  </tr>
  </tbody>
</table>


</body>
</html>